body{
    background-image: linear-gradient(
        rgb(59, 99, 93),
        rgba(29, 40, 42)
    );
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grasycale;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-size: 1.5em;
}

.button-navigate {
    font-size: 3em;
}

.button-biggest {
    font-size: 4em;
}

#cover {
    width: 450px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: #8B999C;
}

#progress-bar {
    background-color: #8B999C;
    height: 3px;
    width: 100%;
    border-radius: 15px;
}

#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container {
    cursor: pointer;
}

.button-active {
    color: rgb(0, 183, 107);
}

#duration-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;
}
